body {
    height: 97vh;
    background-color: #f06292;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins Light";

}

#content {
    height: 570px;
    width: 480px;
    background-color: #3c424a;
}

/* Navigation menu */
#nav {
    height: 40px;
    border-bottom: 2px solid #343940;
    width: 100%;
    box-sizing: border-box;
}

#nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    justify-content: center;
    color: rgba(255, 255, 255, .5);
    font-family: "Poppins Light";
    font-size: .9em;
    text-transform: capitalize;
}

#nav ul li {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

#nav ul li:hover {
    border-bottom: 2px solid #f06292;
    font-weight: bold;
    color: white;
}

.active {
    border-bottom: 2px solid #f06292;
    font-weight: bold;
    color: white;
}

/* Date bloc */
#date {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chevrons {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.5em;
    color: rgba(255, 255, 255, .3);

}

#date-elt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#date-elt b {
    display: block;
    font-size: 1.2em;
    text-transform: capitalize;
    color: rgba(255, 255, 255, .9);
    letter-spacing: 1pt;
}

#date-elt span {
    font-size: .8em;
    color: rgba(255, 255, 255, .3);
    font-weight: 100;
    font-family: "Poppins Regular";
}

/* input bloc */
#bloc-input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#input {
    width: 400px;
    height: 40px;
    background-color: #343940;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#input div {
    margin: 5px;
}

#menu-icon {
    width: 30px;
}

#bloc-input input {
    width: 300px;
    height: 40px;
    border: 0px;
    background-color: #343940;
}

/* Task block */
#bloc-task {
    height: 100px;
    width: 430px;
    margin: 7px;
}

.task-item {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.title {
    color: #a9abae;
}

.description {
    color: #848b94;
    font-size: 15px;
}

.pin {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line1 {
    width: 400px;
    height: 50px;
    display: flex;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
}

.check {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check input {
    width: 20px;
    height: 20px;
    border: 1px solid #484f59;
    background-color: #343940;
}

.task-title {
    color: white;
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4px;
}

.more {
    display: flex;
    justify-content: center;
    padding: 4px;
    padding-right: 0;
    justify-self: flex-end;
}

.actions {
    position: absolute;
    background-color: #484f59;
    margin-top: 25px;
    margin-right: 120px;
    padding: 5px;
    border-radius: 5px;
    color: #848b95;
    font-size: 15px;
    /* display: none; */
}

.actions div span {
    padding: 5px;
}

.actions div i {
    padding: 5px;
}